.container {
    padding-top: 5px;
    padding-left: 10px;
}

.identidade {
    display: flex;
    align-items: center; 
   
  }
  
.imagem {
    margin-right: 20px; 
    width: 53px;
    height: 60px;
    border: 0.5px solid #3F3D56;
    border-radius: 50%;
  }
