:root {
    --purple-color: #6828ED;
    --green-color:#04E376;
    --white-color: #FFFFFF;
  }

.container h2, button {
    font-family: 'Roboto', sans-serif;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
  }

.container h2, p, .botao {
   padding-top: 10px;
   font-family: 'Saira', sans-serif;
}

.container {
    display: flex;
    margin: auto;
    width: 90%;
}

.container h2 {
    font-size: 60px; 
    color: var(--purple-color);
    text-align: center;
}

.container p {
    font-size: 22px; 
}

.p1 {
    font-weight: bold;
    font-size: 24px;
}

.container img {
    max-width: 100%;
    height: auto;
  }

.containerimg {
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.container button {
    display: inline-block;
    padding: 15px 60px;
    background-color: var(--green-color);
    color: var(--white-color);
    margin-right: 40px;
    margin-top: 20px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid var(--green-color);
    cursor: pointer;
    font-size: 20px;
    
}

@media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
}

@media screen and (max-width:551px){
    .container h2 {
        font-size: 45px;
    }
}

@media screen and (max-width: 437px) {
    .botao {
        text-align: center;
    }

    .container h2 {
        font-size: 40px;
      }
    
    .container p {
        font-size: 16px;
      }
}