.form-imc{
  padding: 10px;
  text-align: left;
  box-shadow: 7px 6px 0px 0px #6828ED;
  border-radius: 7px;
  min-width: fit-content;
  max-width: 90%;
  border: 1px solid rgb(220, 224, 224);
  margin: 20px 15px;
}

.btn-line{
  display: flex;
  justify-content: center;
}

.btn-sexo{
  border-radius: 5px;
  color: rgb(240, 245, 245);
  border: 1px rgb(240, 245, 245) thin;
  
}

.btn-homem{
  margin-left: 15px;
  background-color: #36B1DF;
  padding: 12px;
  min-width: fit-content;
  width: auto;
}

.btn-mulher{
  margin-right: 15px;
  background-color: #D38BFD;
  padding: 12px 15px; 
}

.btn-sexo.active {
  box-shadow: 0 0 15px rgba(0, 255, 132, 0.9);
  border: 1px solid rgba(0, 255, 132, 0.9);
}

.div-btn-calc{
  margin: 20px 10px;
  display: flex;
  justify-content: center;
}

.btn-calc{
  width: 90%;
  background-color: #05e279;
  border-radius: 3px;
  padding: 15px 0;
  color: rgb(240, 245, 245);
  font-size: large;
}

.input-form{
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 5px;
  width: 70px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (min-width: 320px) {
  .form-imc{
    width: 85%; 
  }
}

@media (min-width: 768px) {
  .form-imc{
    width: 40%;
    max-width: 400px;
  }
}