.divCard{
  margin-bottom: 50px;
  background-color: #E6EEE9;
  border-radius: 10px;
  padding: 30px;
  display: grid;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
}

.userImg{
  max-width: 120px;
  max-height: 120px;
  background-color: black;
  border-radius: 50%;
  margin-right: 30px;
  margin: auto;
  grid-column: 1;
}

.textContent{
  grid-column: 2;
}

.nameLink{
  cursor: pointer;
}

.nameLink:hover{
  color: #2020b8;
  text-decoration: underline;
}

.buttonDiv{
  display: flex;
  justify-content: right;
  grid-column: 3;
  margin: auto;
}

.btnCard{
  background-color: var(--purple-color);
  padding: 10px;
  font-size: 16px;
  color: white;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.537);
}

.btnCard:hover{
  background-color: rgb(29, 26, 110);
  transition: 0.5s;
}

@media screen and (max-width: 768px){
  .divCard {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}