.swiper {
   
}

.swiper-slide {
    display: flex;
    justify-content: center;
    border-style: solid;
    background-color: var(--light-gray-color);
}

.swiper-button-prev {
    color: var(--purple-color)
}

.swiper-button-next {
    color: var(--purple-color)
}