.swiper {
   margin-bottom: 100px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    background-color: var(--light-gray-color);
}

.swiper-button-prev {
    color: var(--purple-color)
}

.swiper-button-next {
    color: var(--purple-color)
}