.content{
  margin: 30px;
  min-height: 100vh;
}

.mainTitle{
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.alignDiv{
  display: flex;
  justify-content: space-between;
}

.divFilter{
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.filterUf{
  display: flex;
  flex-direction: column;
}

.filterUf span{
  font-weight: bold;
  margin-bottom: 10px;
}

.divBusca{
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 6px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: text;
  height: 40px;
  width: 55%;
  max-width: 900px;
}

.txtBusca{
  border: none;
  background-color: #ccc;
  padding: 5px 7px;
  flex: 1;
  font-size: 16px;
}

.btnBusca{
  max-height: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.txtBusca:focus{
  outline: none;
}

.lista{
  margin-top: 30px;
}

.paginationItem{
  background-color: rgb(214, 213, 213);
  border-radius: 5px;
  border: 1px black solid;
}

.paginationDiv{
  margin: 20px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li {
  list-style: none;
  margin: 0 5px;
}

.pagination li a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: black;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
}

.pagination li a:hover {
  background-color: rgb(64, 63, 143);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 250px;
}

.user {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px){
  .content{
    margin: 20px;
  }

  .mainTitle{
    padding-top: 20px;
  }

  .divFilter{
    display: block;
  }

  .divBusca{
    margin: 20px 0;
    width: 100%;
  }
}