.container {
    display: flex;
    margin: auto;
    justify-content: center;
}
  
.container .porta .logo {
    max-width: 100%;
    height: auto;
}

.porta {
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-left: 30px;
    background: #ffffff;
    padding-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.container a {
    color: var(--purple-color);
}

.container .ou {
    color: var(--purple-color);
    margin-bottom: 10px;
    margin-top: 10px;
}

.container a:link {
    text-decoration: none;
}

.container a:visited {
    text-decoration: none;
}

.container a:hover {
    text-decoration: none;
}

.container a:active {
    text-decoration: none;
}

.conectado {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.conectado span {
    justify-content: center;
    align-items: center;
}

.container .checkboxLabel { 
    display: flex; 
    align-items: center; 
    color: var(--purple-color);
} 
.container input[type=checkbox]{ 
    flex: none;
    margin-right: 5px;
    accent-color: var(--purple-color);
}

.entrar {
    display: flex;
    justify-content: space-evenly;
    
}

.logo {
    margin-bottom: 50px;
}

.login p {
    text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
}

.login input {
    border-radius: 10px;
    border: var(--purple-color) 1.5px solid;
    outline: 0;
    font-size: 1.2rem;
    padding-left: 15px;
    background-color: #D9D9D9;
}
  
.login input {
    height: 45px;
}

.login input:valid{
    border: green solid 2px;
}

.iniciar {
    font-family: 'Saira', sans-serif;
    font-size: 20px;
    display: inline-block;
    padding: 15px 10px;
    background-color: var(--purple-color);
    color: var(--white-color);
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid var(--purple-color);
    cursor: pointer;
    transition: background-color 0.3s; 
}

.iniciar:hover {
    background-color: var(--white-color); 
    color: var(--purple-color);
}

.iniciar:active {
    background-color: var(--purple-color); 
    color: var(--white-color);
}

.checkmark {
    color: var(--purple-color);
}

.botaoGoogle {
    transition: background-color .3s, box-shadow .3s;
   
    padding: 12px 16px 12px 42px;
    border: var(--purple-color) 1px solid;
    border-radius: 3px;
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
    
    &:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
    
    &:disabled {
      filter: grayscale(100%);
      background-color: #ebebeb;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      cursor: not-allowed;
    }
}

.botaoFacebook {
    color: #ffffff;
    background-image: url(../../../Assets/Login/facebook-icon.svg);
    background-color: #0094FF;

    &:active {
      background-color: #0094FF;
    }
}

.senha {
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: #d9d9d9;
    position: relative; 
}
  
.senha .passwordInputContainer {
    flex: 1; 
    position: relative; 
}
  
.senha input {
    flex: 1; 
    border-radius: 10px;
    padding-left: 15px;
    background-color: #d9d9d9;
}
  
.senha .passwordIcon {
    color: var(--purple-color);
    position: absolute; 
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
  
@media screen and (max-width: 1045px){

    .porta {
        width: 40%;
    }
}

@media screen and (max-width: 905px){

    .conteudo {
        padding-left: 0px;
        padding-right: 0px;
        
    }

    .container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .porta {
        width: 417px;
    }

    .iniciar {
        margin-top: 20px; 
        margin-right: 0; 
      }
}

@media screen and (max-width: 417px){
   .container img {
    max-width: 100%;
   }
}

@media screen and (max-width: 370px){
    .entrar {
       flex-direction: column;
    }

    .entrar button {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 335px){
    .conectado {
        flex-direction: column;
    }
}